src/main/app/ea-accelerator-account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cors="http://www.mulesoft.org/schema/mule/cors"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="keystore.jks" keyPassword="synechron" password="synechron"/> 
        </tls:context> 
    </http:listener-config>
    
<!--     <api-platform-gw:api id="ea-accelerator-account" -->
<!-- 		apiName="ea-accelerator-account-api" version="1" -->
<!-- 		flowRef="ea-accelerator-accountFlow" create="true" doc:name="API Autodiscovery" />  -->
    
    <apikit:config name="ea-accelerator-account-router-config" raml="ea-accelerator-account.raml" consoleEnabled="true" consolePath="console" doc:name="Router" >
    	<apikit:flow-mapping resource="/getClientAccountDetails" action="get" flow-ref="get:/getClientAccountDetails:ea-accelerator-accountFlow"/>
    	<apikit:flow-mapping resource="/getAccountDetails" action="get" flow-ref="get:/getAccountDetails:ea-accelerator-accountbalanceFlow"/>
    </apikit:config>
    
    <cors:config name="Cors_Configuration" doc:name="Cors Configuration">
        <cors:origins>
            <cors:origin url="*" accessControlMaxAge="30">
                <cors:methods>
                    <cors:method>GET</cors:method>
                    <cors:method>POST</cors:method>
                    <cors:method>OPTIONS</cors:method>
                </cors:methods>
                <cors:headers>
                    <cors:header>X-Allow-Origin</cors:header>
                </cors:headers>
            </cors:origin>
        </cors:origins>
	</cors:config>
    <flow name="ea-accelerator-accountFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/account/client/*" doc:name="HTTP"/>
        <cors:validate config-ref="Cors_Configuration" publicResource="true" acceptsCredentials="false" doc:name="CORS Validate"/>
        <logger message="Inside Accelerator Experience API" level="INFO" doc:name="Logger"/>
        <set-variable variableName="headers" value="#[message.inboundProperties]" doc:name="Variable"/>
        <apikit:router config-ref="ea-accelerator-account-router-config" doc:name="APIkit Router"/>
    </flow>
    
    <flow name="ea-accelerator-accountbalanceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/account/balance/*" doc:name="HTTP"/>
        <cors:validate config-ref="Cors_Configuration" publicResource="true" acceptsCredentials="false" doc:name="CORS Validate"/>
        <logger message="Inside Accelerator Account Balance Experience API" level="INFO" doc:name="Logger"/>
        <set-variable variableName="headers" value="#[message.inboundProperties]" doc:name="Variable"/>
        <apikit:router config-ref="ea-accelerator-account-router-config" doc:name="APIkit Router"/>
    </flow>

</mule>
